/* Definition */
.definition {
  display: grid;
  grid-template-columns: 32px 1fr auto;
  width: 100%;
  margin: 20px 0;
}
.number {
  margin-right: 24px;
  font-size: 16px;
  font-weight: 600;
}
.wordDefinition {
  font-size: 20px;
  font-weight: 500;
}
.partOfSpeech {
  margin-left: 16px;
  transform: translateY(-6px);
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  color: var(--secondary-text-color);
}

/* Example */
.example {
  grid-column-start: 2;
  grid-column-end: span 2;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 300;
}
.example strong {
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .number {
    margin-right: 8px;
    font-size: 14px;
  }
  .wordDefinition {
    font-size: 18px;
  }
  .partOfSpeech {
    margin-left: 12px;
    transform: translateY(-4px);
    font-size: 14px;
  }
  .example {
    font-size: 16px;
  }
}

@media screen and (max-width: 440px) {
  .number {
    margin-right: 0px;
  }
  .wordDefinition {
    font-size: 16px;
  }
  .partOfSpeech {
    margin-left: 0px 0px 0px 8px;
    transform: translateY(-4px);
    font-size: 14px;
  }
  .example {
    font-size: 15px;
  }
}
