/* Word */
.word {
  position: relative;
  height: auto;
  min-height: 320px;
  width: 90vw;
  max-width: 600px;
  background-color: var(--dark-main-bg-color);
  border-radius: 5px;
  padding: 32px 64px 48px 64px;
}

/* Title - word and pronunciation */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -18%;

  overflow: hidden;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  text-decoration: bold;
}
h2 {
  padding-top: 16px;
  font-size: 24px;
  font-weight: 300;
}

/* Button */
button {
  position: absolute;
  bottom: 16px;
  right: 64px;

  padding: 6px 12px;
  margin-top: 16px;

  font-size: 24px;
  font-weight: 700;
  font-family: "Inconsolata", monospace;

  float: right;
  border: none;
  background: none;
  color: var(--secondary-text-color);
  cursor: pointer;

  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
button:focus {
  outline: none;
}
button:hover {
  background-size: 100% 88%;
}
@media screen and (max-width: 600px) {
  .word {
    padding: 32px 48px 48px 48px;
  }
  button {
    right: 48px;
  }
}

@media screen and (max-width: 440px) {
  .word {
    padding: 32px 16px 48px 16px;
  }
  button {
    right: 16px;
    font-size: 20px;
  }
}
