/* Word */
.word {
  height: 320px;
  width: 560px;
  background-color: var(--dark-main-bg-color);
  border-radius: 5px;
  padding: 32px 64px;
}

/* Title - word and pronounciation */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -84px;
}
.title h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  text-decoration: bold;
}
.title h2 {
  padding-top: 16px;
  font-size: 24px;
  font-weight: 300;
}
